.git
.gitignore
.idea
Dockerfile
Diagramas
Relatório
Requisitos
Sprint
protótipos
laravel/.env*
laravel/node_modules
laravel/vendor
laravel/storage/logs
laravel/storage/framework/cache
laravel/storage/framework/sessions
laravel/storage/framework/testing
laravel/storage/framework/views
laravel/storage/app/public
npm-debug.log*
yarn-debug.log*
.yarn-integrity
